.download-app {
  background-color: #000;
  /* height: 30% */
}

.container {
  width: 75%;
  margin: 0 auto;
  padding: 1em;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.last-box {
  margin-left: auto;
  margin-bottom: 20%;
}

/* .box {
  border: 2px solid #fff;
} */

.box img {
  height: 600px;
  width: auto;
}

.second-box {
  margin-bottom: 20%;
  /* border: 2px solid #fff; */
  margin-left: 3%;
}

.second-box h1 {
  color: #fff;
  text-align: justify;
  font-size: 2em;
}

p {
  color: #fff;
  font-size: 85%;
  text-align: justify;
}

.google {
  width: 200px;
  height: auto;
}

.burger {
  height: 400px;
  width: auto;
}

@media screen and (max-width: 1520px) {
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 1em;
  }

  .box img {
    height: 500px;
    width: auto;
  }

  .burger {
    height: 350px;
    width: auto;
  }

  .google {
    width: 150px;
    height: auto;
  }
}

@media screen and (max-width: 1225px) {
  .container {
    width: 85%;
    margin: 0 auto;
    padding: 1em;
  }

  .box img {
    height: 400px;
    width: auto;
  }

  .burger {
    height: 270px;
    width: auto;
  }

  .second-box {
    margin-bottom: 10%;
  }

  .second-box h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 1115px) {
  .container {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
  }

  .box img {
    height: 350px;
    width: auto;
  }

  .burger {
    height: 290px;
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .box img {
    height: 250px;
    width: auto;
  }

  .burger {
    height: 200px;
    width: auto;
  }

  .google {
    width: 100px;
    height: auto;
  }

  .second-box h1 {
    text-align: center;
    font-size: 18px
  }

  .second-box p {
    font-size: 13px
  }
}

@media screen and (max-width: 600px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box img {
    height: 300px;
    width: auto;
  }

  .second-box {
    margin-top: 3%;
  }

  .second-box h1 {
    text-align: center;
  }

  .last-box {
    margin: 0 auto;
  }

  .burger {
    height: 300px;
    width: auto;
  }
}


@media screen and (max-width: 414px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box img {
    height: 250px;
    width: auto;
  }

  .second-box {
    margin-top: 3%;
  }

  .second-box h1 {
    text-align: center;
  }

  .last-box {
    margin: 0 auto;
  }

  .burger {
    height: 200px;
    width: auto;
  }
}

@media screen and (max-width: 411px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box img {
    height: 250px;
    width: auto;
  }

  .second-box {
    margin-top: 3%;
  }

  .second-box h1 {
    text-align: center;
  }

  .last-box {
    margin: 0 auto;
  }

  .burger {
    height: 200px;
    width: auto;
  }
}


@media screen and (max-width: 375px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box img {
    height: 130px;
    width: auto;
  }

  .second-box {
    margin-top: 3%;
  }

  .second-box h1 {
    text-align: center;
    font-size: 18px
  }

  .second-box p {
    font-size: 10px
  }

  .last-box {
    margin: 0 auto;
  }

  .burger {
    height: 120px;
    width: auto;
  }

  .google {
    width: 80px;
    height: auto;
  }
}



@media screen and (max-width: 320px) {
  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .box img {
    height: 150px;
    width: auto;
  }

  .second-box {
    margin-top: 3%;
  }

  .second-box h1 {
    text-align: center;
    font-size: 18px
  }

  .second-box p {
    font-size: 10px
  }

  .last-box {
    margin: 0 auto;
  }

  .burger {
    height: 120px;
    width: auto;
  }

  .google {
    width: 80px;
    height: auto;
  }
}
