<section class="download-app">
  <div class="container">
    <div class="flex-container">
      <div class="box">
        <img src="../../assets/01.png" alt="phone">
      </div>
      <div class="second-box">
        <h1>Download Our App</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus egestas feugiat felis.Mauris iobortis nisl
          nec mi convallis finibus. Nulla facillisi.Donec urna orci, placerat vestibulum sapien eget.laoreet egestas
          elit.</p>
        <img src="../../assets/google-play-badge-en.png" alt="google-play" class="google">
      </div>
      <div class="last-box">
        <img src="../../assets/580b57fcd9996e24bc43c1a8.png" alt="burger" class="burger">
      </div>
    </div>
  </div>
</section>
