.container {
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid #f1f1f1;
  padding: 0.65em 0
}



.flex-container {
  display: flex;
  justify-content: space-around;
  
  list-style: none;
  margin-left: 8%;
  flex-wrap: wrap;
}

li {
  padding: 0 2em;
  font-size: 15px;
  color: #676768
}

.home {
  color:  #5c0426 !important;
}

.cart {
  margin-left: auto
}



@media screen and (max-width: 1000px) {
  .container {
    width: 80%
  }
  .flex-container{
    margin-left:0px
  }
  li {
    padding: 0 1em;
    font-size: 14px;
  }
}


@media screen and (max-width: 528px) {
  .container {
    width: 80%
  }

  li {
    font-size: 13px;
    padding: 0 0.8em
  }
}