.container {
  width: 80%;
  margin: 0 auto;
  border-bottom: 2px solid #f1f1f1;
  padding: 0.65em 0
}



.flex-container {
  display: flex;
  justify-content: space-evenly;
  
  list-style: none;
  margin-left: 8%;
  flex-wrap: wrap;
}

li {
  padding: 0 2em;
  font-size: 15px;
  color: #676768
}

.home {
  color:  #5c0426 !important;
}

.cart {
  margin-left: auto
}