<section class="info">
  <div class="flex-container">
    <div class="box">
      <img src="../../assets/store.png" alt="store" />
      <small class="small">Over 500 <br />Restaurants</small>
    </div>

    <div class="box">
      <img src="../../assets/take-away.png" alt="store" />
      <small class="small">Over 2000 <br />Deliveries Made</small>
    </div>

    <div class="box">
      <img src="../../assets/group.png" alt="store" />
      <small class="small">Over 500 <br />Registered Customers</small>
    </div>
  </div>
</section>
