.container {
  width: 90%;
  margin: 0 auto;
  /* border: 2px solid #f1f1f1; */
  display: flex;
  /* justify-content: space-around */
}

header {
  background-color: #5c0426;
  color: #fff;
  padding: 0.65em 0;
}

.bus {
  /* display: block;
  margin-left: 20% */
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.3em;
  display: inline-block;
  margin-left: 10%;
}

.nav {
  float: right;
}

.flex-container {
  display: flex;
  justify-content: space-between;

  list-style: none;
  /* margin-top: -25px */
  margin-top: 0.4em;

  /* flex-wrap: wrap; */
  /* border: 1px solid #000 */
}

li {
  padding: 0 2em;
  font-size: 15px;
}

.special-list-color {
  color: #ffcf27;
}

@media screen and (max-width: 1320px) {
  .logo {
    margin-left: 15%;
  }

  li {
    padding: 0 1em;
  }
}

@media screen and (max-width: 1070px) {
  .logo {
    margin-left: 4.5%;
  }

  .nav {
    margin-left: 4%;
  }

  li {
    padding: 0 0.8em;
    font-size: 14px;
  }
}

@media screen and (max-width: 892px) {
  .logo {
    margin-left: 4%;
  }

  li {
    padding: 0 0.6em;
    font-size: 14px;
  }
}

@media screen and (max-width: 848px) {
  .logo {
    margin-left: 4%;
  }

  .nav {
    margin-left: 3%;
  }

  li {
    padding: 0 0.4em;
    font-size: 14px;
  }
}

@media screen and (max-width: 810px) {
  .logo {
    margin-left: 4%;
  }

  .nav {
    margin-left: 3%;
  }

  li {
    padding: 0 0.3em;
    font-size: 14px;
  }
}

@media screen and (max-width: 774px) {
  .flex-container {
    flex-wrap: wrap;
    /* border: 1px solid #000 */
  }
  .logo {
    margin-left: 9%;
  }

  .nav {
    margin-left: 20%;
  }

  li {
    padding: 0 0.5em;
    font-size: 13px;
    flex: 1 1 50%;
    align-self: center;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 768px) {
  .flex-container {
    flex-wrap: wrap;
    /* border: 1px solid #000 */
  }
  .logo {
    margin-left: 9%;
  }

  .nav {
    margin-left: 20%;
  }

  li {
    padding: 0 0.5em;
    font-size: 13px;
    flex: 1 1 30%;
    align-self: center;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 414px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .nav {
    margin-left: 4%;

    padding: 5px;
  }
  .logo {
    margin-left: 9%;
    margin-top: 19%;
    font-size: 18px;
  }

  li {
    padding: 0 0.5em;
    font-size: 13px;
    flex: 1 1 50%;
    align-self: center;
    margin-bottom: 5px;
  }
}


@media screen and (max-width: 411px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .nav {
    margin-left: 4%;

    padding: 5px;
  }
  .logo {
    margin-left: 9%;
    margin-top: 19%;
    font-size: 18px;
  }

  li {
    padding: 0 0.5em;
    font-size: 13px;
    flex: 1 1 50%;
    align-self: center;
    margin-bottom: 5px;
  }
}



@media screen and (max-width: 375px) {
  .flex-container {
    flex-wrap: wrap;
  }

  .nav {
    margin-left: 10%;
  }
  .logo {
    margin-left: 9%;
    margin-top: 17%;
    font-size: 18px;
  }

  li {
    padding: 0 0.5em;
    font-size: 13px;
    flex: 1 1 50%;
    align-self: center;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 320px) {
  .flex-container {
    flex-wrap: wrap;
    /* border: 1px solid #000 */
  }

  .nav {
    margin-left: 10%;
  }
  .logo {
    margin-left: 7%;
    margin-top: 17%;
    font-size: 15px;
  }

  li {
    padding: 0 0.5em;
    font-size: 10px;
    flex: 1 1 50%;
    align-self: center;
    margin-bottom: 5px;
  }
}
