<section class="how-it-works">
  <div class="container">
    <h4 class="caption">How It Works</h4>
    <div class="flex-container">
      <div class="box">
        <img src="../../assets/meal.png" alt="">
        <h4>Select Your Restaurant</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus egestas feugiat felis.Mauris iobortis nisl nec mi convallis finibus. Nulla facillisi.Donec urna orci, placerat
        vestibulum sapien eget.laoreet egestas elit.</p>
      </div>
      <div class="box">
        <img src="../../assets/meal.png" alt="">
        <h4>Select Your Desired Meal</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus egestas feugiat felis.Mauris iobortis nisl nec mi convallis finibus. Nulla facillisi.Donec urna orci, placerat vestibulum sapien eget.laoreet egestas elit.</p>
      </div>
      <div class="box">
        <img src="../../assets/meal.png" alt="">
        <h4>Get It Delivered Fast</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus egestas feugiat felis.Mauris iobortis nisl nec mi convallis finibus. Nulla facillisi.Donec urna orci, placerat
        vestibulum sapien eget.laoreet egestas elit.</p>
      </div>
    </div>
  </div>
</section>
