.how-it-works {
  background-color: #5c0426;
}

.container {
  width: 70%;
  margin: 0 auto;
  padding: 1em;
}

.caption {
  text-align: center;
  color: #fff;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

img {
  background: #fff;
  border-radius: 50%;
  margin: 0 25%;
  width: 30%;
}

.box h4 {
  color: #fff;
  text-align: left;
  font-size: 85%;
}

.box p {
  color: #fff;
  font-size: 85%;
  text-align: justify;
}

@media screen and (max-width: 1000px) {
  .container {
    width: 90%;
  }

  .caption {
    font-size: 12px
  }

  .box h4, .box p {
    font-size: 10px;
  }

  
}


@media screen and (max-width: 414px) {
  .container {
    width: 90%;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 80px;
    height: auto
  }
  
}


@media screen and (max-width: 411px) {
  .container {
    width: 90%;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 70px;
    height: auto
  }
  
}


@media screen and (max-width: 375px) {
  .container {
    width: 90%;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 60px;
    height: auto
  }
  
}


@media screen and (max-width: 320px) {
  .container {
    width: 90%;
  }

  .flex-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 60px;
    height: auto
  }
  
}