<section class="reviews">
  <div class="container">
    <h3 class="caption">What Users Are Saying About BoxIt</h3>
    <div class="flex-container">
      <div class="box">
        <article class="comment">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus
          egestas feugiat felis.Mauris iobortis nisl nec mi convallis finibus.
          Nulla facillisi.Donec urna orci, placerat vestibulum sapien
          eget.laoreet egestas elit.
        </article>
        <img src="../../assets/img_avatar.png" alt="image" class="photo" />
        <h3 class="customer-name">Customer Name</h3>
      </div>
      <div class="box">
        <article class="comment">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus
          egestas feugiat felis.Mauris iobortis nisl nec mi convallis finibus.
          Nulla facillisi.Donec urna orci, placerat vestibulum sapien
          eget.laoreet egestas elit.
        </article>
        <img src="../../assets/img_avatar.png" alt="image" class="photo" />
        <h3 class="customer-name">Customer Name</h3>
      </div>
    </div>
  </div>
</section>
