<section class="footer">
  <div class="footer-background">
    <div class="container">
      <div class="flex-container">
        <div class="box">
          <h1 class="caption">Deliver</h1>
        </div>
        <ul class="list">
          <li class="bold-list-item"><small>About Box-it</small></li>
          <li class="list-item"><small>How Box-it works</small></li>
          <li class="list-item"><small>Safety</small></li>
          <li class="list-item"><small>Careers</small></li>
          <li class="list-item"><small>Countries</small></li>
          <li class="list-item"><small>FAQs</small></li>
        </ul>

        <ul class="list">
          <li class="bold-list-item"><small>Be a Dispatcher</small></li>
          <li class="list-item"><small>Sign up to be a Dispatcher</small></li>
          <li class="list-item"><small>Requirement</small></li>
          <li class="list-item"><small>Driver App</small></li>
        </ul>
        <div class="box">
          <img src="../../assets/google-play-badge-en.png" alt="google" />
        </div>
      </div>
    </div>
  </div>
</section>

